@charset "utf-8";
html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
li {
  list-style: none;
}
p, ul {
  margin: 0;
  padding: 0;
}
div,li {
  box-sizing: border-box;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img{

  width: 100%;
}
.section_inner {

  padding: 200px 10% 30px;
}
.new-key{
    border: 3px solid red;
    padding: 30px;
    width: 300px;
}
.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
}
.key h1{
  font-size: 2.5rem;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}

.concept-section{
  display: flex;
}
.concept-section p{
  width: 60%;
  margin: 35px;
}
.concept-section img{
  width: 35%;
  margin-left: 20px;
}
.menu{
  background: center / cover no-repeat url("../images/sample_menu_bg.jpg");
}
.menu-part1{
  width: 100%;
}
.menu-part1 ul{
  display: flex;
}
.menu-part1 ul .blueberry{
  width: 49%;

}

.menu-part1 ul .blueberry img{
  width: 55%;
}
.menu-part1 ul .strawberry{
  width: 49%;
}

.menu-part1 ul .strawberry img{
  width: 55%;
}

.rec-menu{
  margin: 100px;
}
.blueberry{
  margin-top: -80px;
}
.strawberry{
  margin-top: -80px;
}
.blue-sec{
  float: right;
  left: 230px;
  background-color: #fff;
  width: 180px;
}

.blue-sec h2{
  margin-left: 15px;
}

.blue-sec p{
  margin-left: 15px;
  margin-right: 60px;
}
.blue-sec .cash{
  clear: both;
  float:right;
  margin-top:115px;
  margin-right:5px;
  
}
.straw-sec{
  float: right;
  left: 230px;
  background-color: #fff;
  width: 180px;
}

.straw-sec h2{
  margin-left: 15px;
}

.straw-sec p{
  margin-left: 15px;
  margin-right: 60px;
}
.straw-sec .cash{
  clear: both;
  float:right;
  margin-top:93px;
  margin-right:5px;
  
}
.matcha{
  width: 15px;
}

.coffee{
  clear: both;
  margin: 20px;
  display: flex;
  background-color: #fff;
}

.coffee1 img{
  margin-left: 20px;
  margin-top: 20px;
  width: 20%;
}
.coffee-part1{
  width: 49%;
}
.blend{
  position:relative;
  float: right;
  margin-right: 150px;
}

.latte{
  position:relative;
  float: right;
  margin-right: 210px;
  top: 150px;

}
.coffee2 img{
  margin-left: 20px;
  margin-top: 160px;
  width: 20%;
}

.coffee-part2{
  width: 49%;
}

.coffee3 img{
  margin-left: 20px;
  margin-top: 20px;
  width: 20%;
}

.cafe-latte{
  position:relative;
  float: right;
  margin-right: 220px;
}

.coffee4 img{
  margin-left: 20px;
  margin-top: 160px;
  width: 20%;
}

.ice-coffee{
  position:relative;
  float: right;
  margin-right: 210px;
  top: 150px;

}
footer{
  background-color: #251e19;
  height: 75px;
  display: block;
  justify-content: space-between;
  align-items: stretch;
}
footer nav ul{
  display: flex;
  justify-content: center;
}

footer nav ul a li{
  justify-content: space-between;
  margin: 10px;
  list-style:circle;
  
  text-align: center;
  color: #fff;
  
}
footer nav ul a li img{
  width: 30px;
  height: 30px;
}
footer p{
  text-align: center;
  color: #fff;
}